.form-control.ng-touched.ng-invalid {
    border: 1px solid red;

}
textarea{
    resize: none;
}

/*form {*/
/*    width: 40%;*/
/*}*/
.control-buttons {
    display: flex;
    justify-content: space-between;
}