<mat-card class="container card">
    <mat-card-title>{{product?.name}}</mat-card-title>
    <div style="display: flex;justify-content: space-between;">
        <mat-card-subtitle>In stock: {{product?.quantity}}</mat-card-subtitle>
        <mat-card-subtitle>Id is: {{id}}</mat-card-subtitle>
    </div>
    <mat-card-content>
        <p style="color: red"></p>
        <p>{{product?.description}}</p>
        <p class="important" align="end">Price: {{product?.price}}$</p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="onClick()">Add to cart</button>
    </mat-card-actions>
</mat-card>